body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Maiandra GD";
    margin-bottom: 10px;
    font-size: 80px;
    color: #844c29;
}

.botoesCollections button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    height: 60px;
    background: none;
    border: none;
    background-color: #844c29;
    border-radius: 9px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(5, 5, 5, 0.5);
}

.botoesCollections button:hover{
    background-color:#9f643f;
    width: 430px;
    height: 70px;
    transition: 0.2s ease-in-out;
}

.voltar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    height: 60px;
    margin-top: 170px;
    background: none;
    border: none; 
    background-color: #df9e6b;
    border-radius: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(5, 5, 5, 0.5);
}

.voltar:hover{
    background-color:#CB8B59;
    width: 250px;
    height: 70px;
    transition: 0.2s ease-in-out;
}

.botoesCollections #b2{
    margin-left: 30px;
}

p{
    font-size: 23px;
    margin-bottom: 70px;
    color: rgb(118, 118, 116);
}

a img{
    width: 50px; ;
}