body{
    background: #FFF;
    margin: 0;
    padding: 0;
}

.container {
    height: 1101px;
    background-color: white;
    position: relative;
}

/* Navbar */
.navbar a{
    color: #1E6B82; 
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    margin-left: 145px;
}
#c3{
    left: 680px;
    font-family: "Maiandra GD";
    font-size: 3.4375rem;
}

/* Conteúdo principal (imagem, titulo e texto) */
.conteudo-principal {
    position: absolute;
    top: 200px;
    left: 0;
    text-align: center;
    padding-left: 30rem;
}
.conteudo-principal{
    margin-left: 25rem;
}

/* Título */
.compre-agora {
    color: #1E6B82;
    font-size: 70px;
    font-family: Maiandra GD, sans-serif;
    margin-bottom: 20px;
}

/* Texto */
.mensagem {
    color: black;
    font-size: 30px;
    font-family: Rambla, sans-serif;
    width: 504px;
    margin: 0 auto;
    line-height: 1.5;
}

/* Botão */
.botao-enviar-mensagem {
    background-color: #CB8B59;
    color: white;
    font-size: 30px;
    font-family: Rambla, sans-serif;
    padding: 20px 40px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 40px;
}

.botao-enviar-mensagem:hover{
    background-color: #86522b;
}

/* Imagem */
.img1{
    margin-top: 5rem;
    margin-left: 6rem;
}

/* Estilo do pop-up */
#popup {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none; /* Começa invisível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.popup-buttons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.whatsapp {
    background: #25d366;
    color: white;
}

.cancel {
    background: gray;
    color: white;
}

/* Footer */
footer {
    width: 95rem;
    height: 140px;
    background-color: #1E6B82;
    position: absolute;
    bottom: 0;
}