body{
    width: 90rem;
    height: 81.5rem;
    background: #FFF;
    margin: 0;
}
.container {
    position: relative; /* Para a navbar se basear nela */
    width: 50.75rem;
    height: 81.5rem;
}

/* Navbar */
#c1, #c2, #c3, #c4, #c5{
    position: absolute;
    color:  #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    margin-left: 20px;
}
#c1, #c2, #c4, #c5{
    top: 24px;
}

#c1 {
    left: 90px;
}
#c2 {
    left: 350px;
}
#c3{
    left: 40rem;
    font-family: "Maiandra GD";
    font-size: 3.4375rem;
}
#c4{
    color: #1E6B82;
    left: 755px;
    padding-left: 200px;
}
#c5{
    left: 1007px; 
    padding-left: 200px;
    color: #1E6B82;
}

.navbar {
    position: absolute;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
}   

/* Imagens */

.cuidados img{
    width: 6.25rem;
    height: 5.9375rem;
}
.imgtext{
    display: flex;
    margin-top: 70px;
}



/* Título */
h1{
    color: #1E6B82;
    font-family: "Maiandra GD";
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 90px;
}

/* Texto */
.cuidados p{
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    width: 350px;
}

/* Classes que estão armazenadas os textos e imagens */
.display{
    display: flex;
}
.cuidados{
    margin-left: 110px;
    margin-top: 60px;
}

/* Id para os textos */
#t1{
    margin-top: 1rem;
}

/* Footer */
.footer{
    width: 187%;
    height: 8.75rem;
    flex-shrink: 0;
    background: #1E6B82;
}