body {
    margin: 0;
}
.container {
    width: 1440px;
    height: 1080px;
    background: white;
    position: relative;
}

/* Navbar */
.navbar a{
    color: #1E6B82; 
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    margin-left: 145px;
}
#c3{
    left: 680px;
    color: #1E6B82;
    font-family: "Maiandra GD";
    font-size: 3.4375rem;
}

/* Título */
.titulo-politica {
    left: 844px;
    top: 190px;
    position: absolute;
    color: #6A3D21;
    font-size: 60px;
    font-family: Maiandra GD;
    font-weight: 400;
}

/* Texto */
.descricao-politica {
    width: 511px;
    left: 845px;
    top: 290px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Classe que contem o botão */
.botao-ver-politica {
    width: 461px;
    height: 74px;
    left: 540px;
    top: 750px;
    position: absolute;
    background: #CB8B59;
    border-radius: 9px;
}

.botao-ver-politica:hover{
    background-color: #86522b;
}

/* Botão */
#botao{
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 55px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


/* Imagem principal */
.imagem-principal {
    width: 748px;
    height: 458px;
    left: 40px;
    top: 170px;
    position: absolute;
}

/* Footer */
footer {
    width: 95rem;
    height: 140px;
    background-color: #1E6B82;
    position: absolute;
    bottom: 0;
}